* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html{
    font-size:16px;
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    width:100%;
    height:100%;
}

.container{
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

section{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    scroll-snap-align: start;
}

.main-page{
    background-image: url("../images/main-background.jpg");
    background-repeat:no-repeat;
    background-position: center;
    background-size: cover;
}

.about-me{
    background-color: rebeccapurple;
}

.projects{
    background-image: url("../images/projects-background.jpeg");
    
}

.skills{
    background-color: steelblue;
}

.contact{
    background-color: teal;
}

.section-title{
    color:whitesmoke;
    font-size: 6em;
    font-weight:600;
    letter-spacing: 0.25em;
    text-transform:capitalize;
}

.main-title{
    color:whitesmoke;
    font-size: 3.56em;
    position:relative;
    margin: 0 auto;
    display:flex;
    justify-content: center;
    align-items: center;
}
